# XGBOOST

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
import xgboost as xgb

In [2]:
checkpoint5 = pd.read_csv('checkpoint-5.csv')
checkpoint5

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,time,day,weekend,holiday,peak_hour,hotspot,dist
0,4.5,-73.844311,40.721319,-73.841610,40.712278,1,17:26:21,0,False,0,1,0,1.030764
1,16.9,-74.016048,40.711303,-73.979268,40.782004,1,16:52:16,1,False,0,1,0,8.450134
2,5.7,-73.982738,40.761270,-73.991242,40.750562,2,00:35:00,3,False,0,0,1,1.389525
3,7.7,-73.987130,40.733143,-73.991567,40.758092,1,04:30:42,5,True,0,0,1,2.799270
4,5.3,-73.968095,40.768008,-73.956655,40.783762,1,07:51:00,1,False,0,1,0,1.999157
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54125939,14.0,-74.005272,40.740027,-73.963280,40.762555,1,03:28:00,5,True,0,0,0,4.334397
54125940,4.2,-73.957784,40.765530,-73.951640,40.773959,1,20:46:20,1,False,0,0,0,1.070590
54125941,14.1,-73.970505,40.752325,-73.960537,40.797342,1,22:04:24,5,True,0,0,0,5.075548
54125942,28.9,-73.980901,40.764629,-73.870605,40.773963,1,05:57:51,2,False,0,0,0,9.346157
54125943,7.5,-73.969722,40.797668,-73.970885,40.783313,1,11:33:00,4,True,0,0,0,1.599203

In [3]:
labels = checkpoint5[['fare_amount']]
labels

          fare_amount
0                 4.5
1                16.9
2                 5.7
3                 7.7
4                 5.3
...               ...
54125939         14.0
54125940          4.2
54125941         14.1
54125942         28.9
54125943          7.5

[54125944 rows x 1 columns]

In [4]:
del checkpoint5['fare_amount']
checkpoint5

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,time,day,weekend,holiday,peak_hour,hotspot,dist
0,-73.844311,40.721319,-73.841610,40.712278,1,17:26:21,0,False,0,1,0,1.030764
1,-74.016048,40.711303,-73.979268,40.782004,1,16:52:16,1,False,0,1,0,8.450134
2,-73.982738,40.761270,-73.991242,40.750562,2,00:35:00,3,False,0,0,1,1.389525
3,-73.987130,40.733143,-73.991567,40.758092,1,04:30:42,5,True,0,0,1,2.799270
4,-73.968095,40.768008,-73.956655,40.783762,1,07:51:00,1,False,0,1,0,1.999157
...,...,...,...,...,...,...,...,...,...,...,...,...
54125939,-74.005272,40.740027,-73.963280,40.762555,1,03:28:00,5,True,0,0,0,4.334397
54125940,-73.957784,40.765530,-73.951640,40.773959,1,20:46:20,1,False,0,0,0,1.070590
54125941,-73.970505,40.752325,-73.960537,40.797342,1,22:04:24,5,True,0,0,0,5.075548
54125942,-73.980901,40.764629,-73.870605,40.773963,1,05:57:51,2,False,0,0,0,9.346157
54125943,-73.969722,40.797668,-73.970885,40.783313,1,11:33:00,4,True,0,0,0,1.599203

In [5]:
del checkpoint5['time']
checkpoint5

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,day,weekend,holiday,peak_hour,hotspot,dist
0,-73.844311,40.721319,-73.841610,40.712278,1,0,False,0,1,0,1.030764
1,-74.016048,40.711303,-73.979268,40.782004,1,1,False,0,1,0,8.450134
2,-73.982738,40.761270,-73.991242,40.750562,2,3,False,0,0,1,1.389525
3,-73.987130,40.733143,-73.991567,40.758092,1,5,True,0,0,1,2.799270
4,-73.968095,40.768008,-73.956655,40.783762,1,1,False,0,1,0,1.999157
...,...,...,...,...,...,...,...,...,...,...,...
54125939,-74.005272,40.740027,-73.963280,40.762555,1,5,True,0,0,0,4.334397
54125940,-73.957784,40.765530,-73.951640,40.773959,1,1,False,0,0,0,1.070590
54125941,-73.970505,40.752325,-73.960537,40.797342,1,5,True,0,0,0,5.075548
54125942,-73.980901,40.764629,-73.870605,40.773963,1,2,False,0,0,0,9.346157
54125943,-73.969722,40.797668,-73.970885,40.783313,1,4,True,0,0,0,1.599203

In [6]:
params = {
    "max_depth": 7,
    "subsample": 0.9,
    "eta": 0.03,
    "colsample_bytree": 0.9,
    "random_state": 2666,
    "objective": "reg:linear",
    "eval_metric": "rmse",
    "silent": 1
}

In [7]:
print("splitting...")
#splitting data into train test 
x_train, x_test, y_train, y_test = train_test_split(checkpoint5, labels, test_size=0.2, random_state=42)

splitting...

In [8]:
def XGBmodel(x_train, x_test, y_train, y_test, params):
    matrix_train = xgb.DMatrix(x_train, label=y_train)
    matrix_test = xgb.DMatrix(x_test, label=y_test)
    
    model = xgb.train(params=params,
                      dtrain=matrix_train,num_boost_round=5000, 
                      early_stopping_rounds=10,evals=[(matrix_test,'test')])
    return model

#start_time = time.time()
model = XGBmodel(x_train, x_test, y_train, y_test, params)

model.save_model("xgboost_baseline.json")
model.save_model("xgboost_baseline.txt")

[00:53:35] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.
[00:53:35] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/learner.cc:627:
Parameters: { "silent" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.


[0]	test-rmse:14.17041
[1]	test-rmse:13.79035
[2]	test-rmse:13.42305
[3]	test-rmse:13.06850
[4]	test-rmse:12.72517
[5]	test-rmse:12.39437
[6]	test-rmse:12.07415
[7]	test-rmse:11.76626
[8]	test-rmse:11.46930
[9]	test-rmse:11.18270
[10]	test-rmse:10.90430
[11]	test-rmse:10.63578
[12]	test-rmse:10.38830
[13]	test-rmse:10.15330
[14]	test-rmse:9.91041
[15]	test-rmse:9.67684
[16]	test-rmse:9.46323
[17]	test-rmse:9.24539
[18]	test-rmse:9.04773
[19]	test-rmse:8.84514
[20]	test-rmse:8.65005
[21]	test-rmse:8.46236
[22]	test-rmse:8.29276
[23]	test-rmse:8.11978
[24]	test-rmse:7.97199
[25]	test-rmse:7.81152
[26]	test-rmse:7.65587
[27]	test-rmse:7.51562
[28]	test-rmse:7.37254
[29]	test-rmse:7.23475
[30]	test-rmse:7.10258
[31]	test-rmse:6.97661
[32]	test-rmse:6.85493
[33]	test-rmse:6.73865
[34]	test-rmse:6.62724
[35]	test-rmse:6.51990
[36]	test-rmse:6.41891
[37]	test-rmse:6.32131
[38]	test-rmse:6.22774
[39]	test-rmse:6.13865
[40]	test-rmse:6.05475
[41]	test-rmse:5.97402
[42]	test-rmse:5.89699
[43]	test-rmse:5.82289
[44]	test-rmse:5.75231
[45]	test-rmse:5.68445
[46]	test-rmse:5.61983
[47]	test-rmse:5.56656
[48]	test-rmse:5.51041
[49]	test-rmse:5.45443
[50]	test-rmse:5.40218
[51]	test-rmse:5.35732
[52]	test-rmse:5.31187
[53]	test-rmse:5.26581
[54]	test-rmse:5.22211
[55]	test-rmse:5.18014
[56]	test-rmse:5.14105
[57]	test-rmse:5.10475
[58]	test-rmse:5.06976
[59]	test-rmse:5.03660
[60]	test-rmse:5.00390
[61]	test-rmse:4.97338
[62]	test-rmse:4.94530
[63]	test-rmse:4.91810
[64]	test-rmse:4.89190
[65]	test-rmse:4.86725
[66]	test-rmse:4.84434
[67]	test-rmse:4.82250
[68]	test-rmse:4.80126
[69]	test-rmse:4.78105
[70]	test-rmse:4.76243
[71]	test-rmse:4.74438
[72]	test-rmse:4.72840
[73]	test-rmse:4.71182
[74]	test-rmse:4.69557
[75]	test-rmse:4.68030
[76]	test-rmse:4.66658
[77]	test-rmse:4.65572
[78]	test-rmse:4.64279
[79]	test-rmse:4.63032
[80]	test-rmse:4.61888
[81]	test-rmse:4.60807
[82]	test-rmse:4.59760
[83]	test-rmse:4.58725
[84]	test-rmse:4.57804
[85]	test-rmse:4.56924
[86]	test-rmse:4.56112
[87]	test-rmse:4.55283
[88]	test-rmse:4.54685
[89]	test-rmse:4.53970
[90]	test-rmse:4.53280
[91]	test-rmse:4.52642
[92]	test-rmse:4.52027
[93]	test-rmse:4.51389
[94]	test-rmse:4.50882
[95]	test-rmse:4.50332
[96]	test-rmse:4.49829
[97]	test-rmse:4.49392
[98]	test-rmse:4.48904
[99]	test-rmse:4.48472
[100]	test-rmse:4.48041
[101]	test-rmse:4.47625
[102]	test-rmse:4.47288
[103]	test-rmse:4.46901
[104]	test-rmse:4.46504
[105]	test-rmse:4.46153
[106]	test-rmse:4.45792
[107]	test-rmse:4.45517
[108]	test-rmse:4.45209
[109]	test-rmse:4.44898
[110]	test-rmse:4.44640
[111]	test-rmse:4.44410
[112]	test-rmse:4.44154
[113]	test-rmse:4.43868
[114]	test-rmse:4.43648
[115]	test-rmse:4.43454
[116]	test-rmse:4.43293
[117]	test-rmse:4.43050
[118]	test-rmse:4.42866
[119]	test-rmse:4.42715
[120]	test-rmse:4.42555
[121]	test-rmse:4.42873
[122]	test-rmse:4.42663
[123]	test-rmse:4.42547
[124]	test-rmse:4.42373
[125]	test-rmse:4.42357
[126]	test-rmse:4.42278
[127]	test-rmse:4.42115
[128]	test-rmse:4.41962
[129]	test-rmse:4.41798
[130]	test-rmse:4.41667
[131]	test-rmse:4.41673
[132]	test-rmse:4.41550
[133]	test-rmse:4.41409
[134]	test-rmse:4.41284
[135]	test-rmse:4.41411
[136]	test-rmse:4.41217
[137]	test-rmse:4.41145
[138]	test-rmse:4.41084
[139]	test-rmse:4.40980
[140]	test-rmse:4.40966
[141]	test-rmse:4.40861
[142]	test-rmse:4.40794
[143]	test-rmse:4.40695
[144]	test-rmse:4.40611
[145]	test-rmse:4.40540
[146]	test-rmse:4.40581
[147]	test-rmse:4.40512
[148]	test-rmse:4.40409
[149]	test-rmse:4.40354
[150]	test-rmse:4.40339
[151]	test-rmse:4.40293
[152]	test-rmse:4.40234
[153]	test-rmse:4.40375
[154]	test-rmse:4.40479
[155]	test-rmse:4.40413
[156]	test-rmse:4.41030
[157]	test-rmse:4.41025
[158]	test-rmse:4.40919
[159]	test-rmse:4.40849
[160]	test-rmse:4.40822
[161]	test-rmse:4.40782
[162]	test-rmse:4.41054

https://www.kaggle.com/code/marinovik/xgboost-new-york-taxi-fares-prediction/notebook