# XGBOOST

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
import xgboost as xgb

In [2]:
checkpoint5_traffic = pd.read_csv('C:/Users/Admin/Documents/GitHub/CZ4041-NYC-Taxi-Fare/checkpoint5_SGDR_traffic.csv')
checkpoint5_traffic

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,time,day,weekend,holiday,peak_hour,hotspot,dist,0
0,4.5,-73.844311,40.721319,-73.841610,40.712278,1,17:26:21,0,0,0,1,0,1.030764,0.383009
1,16.9,-74.016048,40.711303,-73.979268,40.782004,1,16:52:16,1,0,0,1,0,8.450134,0.383009
2,5.7,-73.982738,40.761270,-73.991242,40.750562,2,00:35:00,3,0,0,0,1,1.389525,0.383063
3,7.7,-73.987130,40.733143,-73.991567,40.758092,1,04:30:42,5,1,0,0,1,2.799270,0.699533
4,5.3,-73.968095,40.768008,-73.956655,40.783762,1,07:51:00,1,0,0,1,0,1.999157,0.383009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54125939,14.0,-74.005272,40.740027,-73.963280,40.762555,1,03:28:00,5,1,0,0,0,4.334397,0.399741
54125940,4.2,-73.957784,40.765530,-73.951640,40.773959,1,20:46:20,1,0,0,0,0,1.070590,0.083271
54125941,14.1,-73.970505,40.752325,-73.960537,40.797342,1,22:04:24,5,1,0,0,0,5.075548,0.399741
54125942,28.9,-73.980901,40.764629,-73.870605,40.773963,1,05:57:51,2,0,0,0,0,9.346157,0.083271
54125943,7.5,-73.969722,40.797668,-73.970885,40.783313,1,11:33:00,4,1,0,0,0,1.599203,0.399741

In [3]:
labels = checkpoint5_traffic[['fare_amount']]
labels

          fare_amount
0                 4.5
1                16.9
2                 5.7
3                 7.7
4                 5.3
...               ...
54125939         14.0
54125940          4.2
54125941         14.1
54125942         28.9
54125943          7.5

[54125944 rows x 1 columns]

In [4]:
del checkpoint5_traffic['fare_amount']
checkpoint5_traffic

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,time,day,weekend,holiday,peak_hour,hotspot,dist,0
0,-73.844311,40.721319,-73.841610,40.712278,1,17:26:21,0,0,0,1,0,1.030764,0.383009
1,-74.016048,40.711303,-73.979268,40.782004,1,16:52:16,1,0,0,1,0,8.450134,0.383009
2,-73.982738,40.761270,-73.991242,40.750562,2,00:35:00,3,0,0,0,1,1.389525,0.383063
3,-73.987130,40.733143,-73.991567,40.758092,1,04:30:42,5,1,0,0,1,2.799270,0.699533
4,-73.968095,40.768008,-73.956655,40.783762,1,07:51:00,1,0,0,1,0,1.999157,0.383009
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54125939,-74.005272,40.740027,-73.963280,40.762555,1,03:28:00,5,1,0,0,0,4.334397,0.399741
54125940,-73.957784,40.765530,-73.951640,40.773959,1,20:46:20,1,0,0,0,0,1.070590,0.083271
54125941,-73.970505,40.752325,-73.960537,40.797342,1,22:04:24,5,1,0,0,0,5.075548,0.399741
54125942,-73.980901,40.764629,-73.870605,40.773963,1,05:57:51,2,0,0,0,0,9.346157,0.083271
54125943,-73.969722,40.797668,-73.970885,40.783313,1,11:33:00,4,1,0,0,0,1.599203,0.399741

In [5]:
del checkpoint5_traffic['time']
del checkpoint5_traffic['dist']
checkpoint5_traffic

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,day,weekend,holiday,peak_hour,hotspot,0
0,-73.844311,40.721319,-73.841610,40.712278,1,0,0,0,1,0,0.383009
1,-74.016048,40.711303,-73.979268,40.782004,1,1,0,0,1,0,0.383009
2,-73.982738,40.761270,-73.991242,40.750562,2,3,0,0,0,1,0.383063
3,-73.987130,40.733143,-73.991567,40.758092,1,5,1,0,0,1,0.699533
4,-73.968095,40.768008,-73.956655,40.783762,1,1,0,0,1,0,0.383009
...,...,...,...,...,...,...,...,...,...,...,...
54125939,-74.005272,40.740027,-73.963280,40.762555,1,5,1,0,0,0,0.399741
54125940,-73.957784,40.765530,-73.951640,40.773959,1,1,0,0,0,0,0.083271
54125941,-73.970505,40.752325,-73.960537,40.797342,1,5,1,0,0,0,0.399741
54125942,-73.980901,40.764629,-73.870605,40.773963,1,2,0,0,0,0,0.083271
54125943,-73.969722,40.797668,-73.970885,40.783313,1,4,1,0,0,0,0.399741

In [6]:
params = {
    "max_depth": 7,
    "subsample": 0.9,
    "eta": 0.03,
    "colsample_bytree": 0.9,
    "random_state": 2666,
    "objective": "reg:linear",
    "eval_metric": "rmse",
    "silent": 1
}

In [7]:
print("splitting...")
#splitting data into train test 
x_train, x_test, y_train, y_test = train_test_split(checkpoint5_traffic, labels, test_size=0.2, random_state=42)

splitting...

In [8]:
def XGBmodel(x_train, x_test, y_train, y_test, params):
    matrix_train = xgb.DMatrix(x_train, label=y_train)
    matrix_test = xgb.DMatrix(x_test, label=y_test)
    
    model = xgb.train(params=params,
                      dtrain=matrix_train,num_boost_round=5000, 
                      early_stopping_rounds=10,evals=[(matrix_test,'test')])
    return model

#start_time = time.time()
model = XGBmodel(x_train, x_test, y_train, y_test, params)

model.save_model("xgboost_traffic_LRDist.json")
model.save_model("xgboost_traffic_LRDist.txt")

[03:49:37] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.
[03:49:38] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/learner.cc:627:
Parameters: { "silent" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.


[0]	test-rmse:14.21947
[1]	test-rmse:13.85899
[2]	test-rmse:13.51559
[3]	test-rmse:13.20012
[4]	test-rmse:12.87491
[5]	test-rmse:12.57169
[6]	test-rmse:12.27371
[7]	test-rmse:12.00701
[8]	test-rmse:11.74692
[9]	test-rmse:11.49726
[10]	test-rmse:11.24861
[11]	test-rmse:10.99982
[12]	test-rmse:10.75386
[13]	test-rmse:10.52016
[14]	test-rmse:10.29118
[15]	test-rmse:10.08607
[16]	test-rmse:9.87157
[17]	test-rmse:9.66783
[18]	test-rmse:9.46983
[19]	test-rmse:9.28374
[20]	test-rmse:9.10295
[21]	test-rmse:8.92643
[22]	test-rmse:8.75692
[23]	test-rmse:8.60929
[24]	test-rmse:8.46392
[25]	test-rmse:8.32783
[26]	test-rmse:8.18662
[27]	test-rmse:8.04638
[28]	test-rmse:7.91855
[29]	test-rmse:7.78944
[30]	test-rmse:7.66445
[31]	test-rmse:7.55443
[32]	test-rmse:7.44484
[33]	test-rmse:7.33448
[34]	test-rmse:7.23647
[35]	test-rmse:7.13849
[36]	test-rmse:7.05054
[37]	test-rmse:6.96203
[38]	test-rmse:6.87637
[39]	test-rmse:6.79147
[40]	test-rmse:6.72351
[41]	test-rmse:6.64949
[42]	test-rmse:6.57923
[43]	test-rmse:6.50723
[44]	test-rmse:6.44233
[45]	test-rmse:6.37203
[46]	test-rmse:6.30469
[47]	test-rmse:6.24776
[48]	test-rmse:6.18605
[49]	test-rmse:6.12730
[50]	test-rmse:6.07398
[51]	test-rmse:6.02905
[52]	test-rmse:5.98009
[53]	test-rmse:5.93207
[54]	test-rmse:5.88378
[55]	test-rmse:5.84034
[56]	test-rmse:5.79705
[57]	test-rmse:5.75447
[58]	test-rmse:5.71698
[59]	test-rmse:5.68108
[60]	test-rmse:5.64412
[61]	test-rmse:5.61077
[62]	test-rmse:5.57731
[63]	test-rmse:5.55149
[64]	test-rmse:5.52691
[65]	test-rmse:5.50034
[66]	test-rmse:5.46949
[67]	test-rmse:5.44636
[68]	test-rmse:5.42478
[69]	test-rmse:5.40208
[70]	test-rmse:5.38095
[71]	test-rmse:5.36788
[72]	test-rmse:5.34493
[73]	test-rmse:5.32436
[74]	test-rmse:5.30180
[75]	test-rmse:5.28277
[76]	test-rmse:5.26809
[77]	test-rmse:5.25423
[78]	test-rmse:5.23763
[79]	test-rmse:5.22178
[80]	test-rmse:5.20573
[81]	test-rmse:5.19000
[82]	test-rmse:5.17664
[83]	test-rmse:5.16007
[84]	test-rmse:5.14661
[85]	test-rmse:5.13587
[86]	test-rmse:5.12505
[87]	test-rmse:5.10955
[88]	test-rmse:5.09942
[89]	test-rmse:5.08500
[90]	test-rmse:5.07530
[91]	test-rmse:5.06307
[92]	test-rmse:5.05377
[93]	test-rmse:5.04287
[94]	test-rmse:5.03537
[95]	test-rmse:5.02615
[96]	test-rmse:5.01452
[97]	test-rmse:5.00839
[98]	test-rmse:4.99966
[99]	test-rmse:4.99104
[100]	test-rmse:4.98391
[101]	test-rmse:4.97414
[102]	test-rmse:4.96869
[103]	test-rmse:4.96105
[104]	test-rmse:4.95119
[105]	test-rmse:4.94355
[106]	test-rmse:4.93294
[107]	test-rmse:4.92469
[108]	test-rmse:4.91659
[109]	test-rmse:4.90689
[110]	test-rmse:4.90084
[111]	test-rmse:4.89498
[112]	test-rmse:4.88801
[113]	test-rmse:4.88123
[114]	test-rmse:4.87549
[115]	test-rmse:4.86722
[116]	test-rmse:4.86552
[117]	test-rmse:4.85876
[118]	test-rmse:4.85316
[119]	test-rmse:4.84674
[120]	test-rmse:4.84220
[121]	test-rmse:4.83567
[122]	test-rmse:4.82934
[123]	test-rmse:4.82464
[124]	test-rmse:4.81877
[125]	test-rmse:4.81381
[126]	test-rmse:4.81260
[127]	test-rmse:4.80574
[128]	test-rmse:4.79949
[129]	test-rmse:4.79497
[130]	test-rmse:4.78896
[131]	test-rmse:4.78808
[132]	test-rmse:4.78404
[133]	test-rmse:4.77924
[134]	test-rmse:4.77224
[135]	test-rmse:4.76813
[136]	test-rmse:4.76348
[137]	test-rmse:4.75924
[138]	test-rmse:4.75667
[139]	test-rmse:4.74982
[140]	test-rmse:4.74734
[141]	test-rmse:4.74266
[142]	test-rmse:4.74036
[143]	test-rmse:4.73775
[144]	test-rmse:4.73317
[145]	test-rmse:4.73213
[146]	test-rmse:4.72888
[147]	test-rmse:4.74324
[148]	test-rmse:4.73713
[149]	test-rmse:4.73605
[150]	test-rmse:4.73514
[151]	test-rmse:4.73414
[152]	test-rmse:4.78264
[153]	test-rmse:4.77987
[154]	test-rmse:4.77883
[155]	test-rmse:4.77685

https://www.kaggle.com/code/marinovik/xgboost-new-york-taxi-fares-prediction/notebook