# Running Neural Networks with Traffic

In [8]:
import tensorflow as tf
import pandas as pd
import numpy as np
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
checkpoint5_traffic = pd.read_csv('/Users/sankeerthana/Documents/NTU/YEAR_3/CZ4041_ML/Lab/own_eqn/checkpoint5_traffic.csv')
checkpoint5_traffic

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,time,day,weekend,holiday,peak_hour,hotspot,dist,fare_amount,traffic_density
0,-73.844311,40.721319,-73.841610,40.712278,1,17:26:21,0,0,0,1,0,1.030764,4.5,0.383333
1,-74.016048,40.711303,-73.979268,40.782004,1,16:52:16,1,0,0,1,0,8.450134,16.9,0.383333
2,-73.982738,40.761270,-73.991242,40.750562,2,00:35:00,3,0,0,0,1,1.389525,5.7,0.383333
3,-73.987130,40.733143,-73.991567,40.758092,1,04:30:42,5,1,0,0,1,2.799270,7.7,0.700000
4,-73.968095,40.768008,-73.956655,40.783762,1,07:51:00,1,0,0,1,0,1.999157,5.3,0.383333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54125939,-74.005272,40.740027,-73.963280,40.762555,1,03:28:00,5,1,0,0,0,4.334397,14.0,0.400000
54125940,-73.957784,40.765530,-73.951640,40.773959,1,20:46:20,1,0,0,0,0,1.070590,4.2,0.083333
54125941,-73.970505,40.752325,-73.960537,40.797342,1,22:04:24,5,1,0,0,0,5.075548,14.1,0.400000
54125942,-73.980901,40.764629,-73.870605,40.773963,1,05:57:51,2,0,0,0,0,9.346157,28.9,0.083333
54125943,-73.969722,40.797668,-73.970885,40.783313,1,11:33:00,4,1,0,0,0,1.599203,7.5,0.400000

In [4]:
labels = checkpoint5_traffic[['fare_amount']]
labels

          fare_amount
0                 4.5
1                16.9
2                 5.7
3                 7.7
4                 5.3
...               ...
54125939         14.0
54125940          4.2
54125941         14.1
54125942         28.9
54125943          7.5

[54125944 rows x 1 columns]

In [5]:
del checkpoint5_traffic['fare_amount']
checkpoint5_traffic

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,time,day,weekend,holiday,peak_hour,hotspot,dist,traffic_density
0,-73.844311,40.721319,-73.841610,40.712278,1,17:26:21,0,0,0,1,0,1.030764,0.383333
1,-74.016048,40.711303,-73.979268,40.782004,1,16:52:16,1,0,0,1,0,8.450134,0.383333
2,-73.982738,40.761270,-73.991242,40.750562,2,00:35:00,3,0,0,0,1,1.389525,0.383333
3,-73.987130,40.733143,-73.991567,40.758092,1,04:30:42,5,1,0,0,1,2.799270,0.700000
4,-73.968095,40.768008,-73.956655,40.783762,1,07:51:00,1,0,0,1,0,1.999157,0.383333
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54125939,-74.005272,40.740027,-73.963280,40.762555,1,03:28:00,5,1,0,0,0,4.334397,0.400000
54125940,-73.957784,40.765530,-73.951640,40.773959,1,20:46:20,1,0,0,0,0,1.070590,0.083333
54125941,-73.970505,40.752325,-73.960537,40.797342,1,22:04:24,5,1,0,0,0,5.075548,0.400000
54125942,-73.980901,40.764629,-73.870605,40.773963,1,05:57:51,2,0,0,0,0,9.346157,0.083333
54125943,-73.969722,40.797668,-73.970885,40.783313,1,11:33:00,4,1,0,0,0,1.599203,0.400000

In [10]:
del checkpoint5_traffic['time']
checkpoint5_traffic

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,day,weekend,holiday,peak_hour,hotspot,dist,traffic_density
0,-73.844311,40.721319,-73.841610,40.712278,1,0,0,0,1,0,1.030764,0.383333
1,-74.016048,40.711303,-73.979268,40.782004,1,1,0,0,1,0,8.450134,0.383333
2,-73.982738,40.761270,-73.991242,40.750562,2,3,0,0,0,1,1.389525,0.383333
3,-73.987130,40.733143,-73.991567,40.758092,1,5,1,0,0,1,2.799270,0.700000
4,-73.968095,40.768008,-73.956655,40.783762,1,1,0,0,1,0,1.999157,0.383333
...,...,...,...,...,...,...,...,...,...,...,...,...
54125939,-74.005272,40.740027,-73.963280,40.762555,1,5,1,0,0,0,4.334397,0.400000
54125940,-73.957784,40.765530,-73.951640,40.773959,1,1,0,0,0,0,1.070590,0.083333
54125941,-73.970505,40.752325,-73.960537,40.797342,1,5,1,0,0,0,5.075548,0.400000
54125942,-73.980901,40.764629,-73.870605,40.773963,1,2,0,0,0,0,9.346157,0.083333
54125943,-73.969722,40.797668,-73.970885,40.783313,1,4,1,0,0,0,1.599203,0.400000

In [11]:
sc = StandardScaler()
checkpoint_5_scaled = np.array(sc.fit_transform(checkpoint5_traffic))
labels_scaled = np.array(labels)
print("successfully scaled...")

successfully scaled...

In [12]:
print("splitting...")
#splitting data into train test 
X_train, X_test, y_train, y_test = train_test_split(checkpoint_5_scaled, labels_scaled, test_size=0.2, random_state=42)

splitting...

In [13]:
print("X_train shape:", X_train.shape)
print("y_train shape:", y_train.shape)
print("X_test shape:", X_test.shape)
print("y_test shape:", y_test.shape)

X_train shape: (43300755, 12)
y_train shape: (43300755, 1)
X_test shape: (10825189, 12)
y_test shape: (10825189, 1)

## Creating the Neural Network

In [14]:
#Creating a Simple Neural Network model
model = Sequential()
#The input_shape is kept at 12 as we have 12 features that we are sending into the neural network
model.add(Dense(16, input_shape=(12,)))
model.add(Dense(16, activation='relu'))
model.add(Dense(16, activation='relu'))
model.add(Dense(16, activation='relu'))
model.add(Dense(16, activation='relu'))
model.add(Dense(16, activation='relu'))
model.add(Dense(16, activation='relu'))
model.add(Dense(16, activation='relu'))
model.add(Dense(16, activation='relu'))
model.add(Dense(1, activation='linear'))

model.compile(optimizer='adam', loss='mse', metrics=[tf.keras.metrics.RootMeanSquaredError(),tf.keras.metrics.MeanAbsoluteError()])

Metal device set to: Apple M1

2022-04-16 21:55:33.858118: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:305] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2022-04-16 21:55:33.859762: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:271] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)

In [15]:
print(model.summary())

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 16)                208

 dense_1 (Dense)             (None, 16)                272

 dense_2 (Dense)             (None, 16)                272

 dense_3 (Dense)             (None, 16)                272

 dense_4 (Dense)             (None, 16)                272

 dense_5 (Dense)             (None, 16)                272

 dense_6 (Dense)             (None, 16)                272

 dense_7 (Dense)             (None, 16)                272

 dense_8 (Dense)             (None, 16)                272

 dense_9 (Dense)             (None, 1)                 17

=================================================================
Total params: 2,401
Trainable params: 2,401
Non-trainable params: 0
_________________________________________________________________
None

In [16]:
history = model.fit(X_train, y_train, epochs = 100)

model.save('NN_traffic_density.h5')

history_df = pd.DataFrame(history.history)
history_df.to_csv()

2022-04-16 21:55:54.681133: W tensorflow/core/platform/profile_utils/cpu_utils.cc:128] Failed to get CPU frequency: 0 Hz

Epoch 1/100

2022-04-16 21:55:56.259324: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:112] Plugin optimizer for device_type GPU is enabled.

   1776/1353149 [..............................] - ETA: 2:17:30 - loss: 100.0516 - root_mean_squared_error: 10.0026 - mean_absolute_error: 6.0595

KeyboardInterrupt:

In [ ]:
#Evaluating on X_test
model.evaluate(X_test, y_test)