## SVM Model

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
updated = pd.read_csv('F:\ML Files\checkpoint-4-v4.csv')

In [3]:
updated.head(20)

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,time,day,weekend,holiday,peak_hour,hotspot,dist
0,4.5,-73.844311,40.721319,-73.841610,40.712278,1,17:26:21,0,False,0,1,0,1.030764
1,16.9,-74.016048,40.711303,-73.979268,40.782004,1,16:52:16,1,False,0,1,0,8.450134
2,5.7,-73.982738,40.761270,-73.991242,40.750562,2,00:35:00,3,False,0,0,1,1.389525
3,7.7,-73.987130,40.733143,-73.991567,40.758092,1,04:30:42,5,True,0,0,1,2.799270
4,5.3,-73.968095,40.768008,-73.956655,40.783762,1,07:51:00,1,False,0,1,0,1.999157
5,12.1,-74.000964,40.731630,-73.972892,40.758233,1,09:50:45,3,False,0,0,0,3.787239
6,7.5,-73.980002,40.751662,-73.973802,40.764842,1,20:35:00,1,False,0,0,0,1.555807
7,16.5,-73.951300,40.774138,-73.990095,40.751048,1,17:22:00,2,False,0,1,0,4.155444
8,9.0,-74.006462,40.726713,-73.993078,40.731628,1,13:10:00,0,False,0,0,1,1.253232
9,8.9,-73.980658,40.733873,-73.991540,40.758138,2,01:11:00,2,False,0,0,0,2.849627
10,5.3,-73.996335,40.737142,-73.980721,40.733559,1,07:30:50,6,True,0,0,0,1.374577
11,4.1,-73.991601,40.744712,-73.983081,40.744682,2,01:04:03,4,True,0,0,0,0.717767
12,7.0,-74.005360,40.728867,-74.008913,40.710907,1,19:54:00,1,False,0,0,0,2.019384
13,7.7,-74.001821,40.737547,-73.998060,40.722788,2,17:11:05,1,False,0,1,0,1.671445
14,12.5,-73.986430,40.760465,-73.988990,40.737075,1,07:22:00,2,False,0,1,1,2.609774
15,5.3,-73.981060,40.737690,-73.994177,40.728412,1,16:08:00,2,False,0,1,0,1.511904
16,5.3,-73.969505,40.784843,-73.958732,40.783357,1,14:52:00,2,False,0,0,0,0.921952
17,4.0,-73.979815,40.751902,-73.979446,40.755481,1,20:36:22,5,True,0,0,0,0.399179
18,10.5,-73.985382,40.747858,-73.978377,40.762070,1,13:18:00,1,False,0,0,0,1.686861
19,11.5,-73.957954,40.779252,-73.961250,40.758787,1,12:15:46,1,False,0,0,0,2.292470

In [4]:
cols = 'fare_amount'
label = updated[[cols]]
label

          fare_amount
0                 4.5
1                16.9
2                 5.7
3                 7.7
4                 5.3
...               ...
54125939         14.0
54125940          4.2
54125941         14.1
54125942         28.9
54125943          7.5

[54125944 rows x 1 columns]

In [12]:
updated.drop(columns = ['fare_amount', 'pickup_longitude', 'pickup_latitude','dropoff_longitude', 'dropoff_latitude', 'dist', 'time'  ])

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,time,day,weekend,holiday,peak_hour,hotspot,dist
0,4.5,-73.844311,40.721319,-73.841610,40.712278,1,17:26:21,0,False,0,1,0,1.030764
1,16.9,-74.016048,40.711303,-73.979268,40.782004,1,16:52:16,1,False,0,1,0,8.450134
2,5.7,-73.982738,40.761270,-73.991242,40.750562,2,00:35:00,3,False,0,0,1,1.389525
3,7.7,-73.987130,40.733143,-73.991567,40.758092,1,04:30:42,5,True,0,0,1,2.799270
4,5.3,-73.968095,40.768008,-73.956655,40.783762,1,07:51:00,1,False,0,1,0,1.999157
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54125939,14.0,-74.005272,40.740027,-73.963280,40.762555,1,03:28:00,5,True,0,0,0,4.334397
54125940,4.2,-73.957784,40.765530,-73.951640,40.773959,1,20:46:20,1,False,0,0,0,1.070590
54125941,14.1,-73.970505,40.752325,-73.960537,40.797342,1,22:04:24,5,True,0,0,0,5.075548
54125942,28.9,-73.980901,40.764629,-73.870605,40.773963,1,05:57:51,2,False,0,0,0,9.346157
54125943,7.5,-73.969722,40.797668,-73.970885,40.783313,1,11:33:00,4,True,0,0,0,1.599203

In [13]:
updated.drop(columns = ['fare_amount'])

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,time,day,weekend,holiday,peak_hour,hotspot,dist
0,-73.844311,40.721319,-73.841610,40.712278,1,17:26:21,0,False,0,1,0,1.030764
1,-74.016048,40.711303,-73.979268,40.782004,1,16:52:16,1,False,0,1,0,8.450134
2,-73.982738,40.761270,-73.991242,40.750562,2,00:35:00,3,False,0,0,1,1.389525
3,-73.987130,40.733143,-73.991567,40.758092,1,04:30:42,5,True,0,0,1,2.799270
4,-73.968095,40.768008,-73.956655,40.783762,1,07:51:00,1,False,0,1,0,1.999157
...,...,...,...,...,...,...,...,...,...,...,...,...
54125939,-74.005272,40.740027,-73.963280,40.762555,1,03:28:00,5,True,0,0,0,4.334397
54125940,-73.957784,40.765530,-73.951640,40.773959,1,20:46:20,1,False,0,0,0,1.070590
54125941,-73.970505,40.752325,-73.960537,40.797342,1,22:04:24,5,True,0,0,0,5.075548
54125942,-73.980901,40.764629,-73.870605,40.773963,1,05:57:51,2,False,0,0,0,9.346157
54125943,-73.969722,40.797668,-73.970885,40.783313,1,11:33:00,4,True,0,0,0,1.599203

In [14]:
updated

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,time,day,weekend,holiday,peak_hour,hotspot,dist
0,4.5,-73.844311,40.721319,-73.841610,40.712278,1,17:26:21,0,False,0,1,0,1.030764
1,16.9,-74.016048,40.711303,-73.979268,40.782004,1,16:52:16,1,False,0,1,0,8.450134
2,5.7,-73.982738,40.761270,-73.991242,40.750562,2,00:35:00,3,False,0,0,1,1.389525
3,7.7,-73.987130,40.733143,-73.991567,40.758092,1,04:30:42,5,True,0,0,1,2.799270
4,5.3,-73.968095,40.768008,-73.956655,40.783762,1,07:51:00,1,False,0,1,0,1.999157
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54125939,14.0,-74.005272,40.740027,-73.963280,40.762555,1,03:28:00,5,True,0,0,0,4.334397
54125940,4.2,-73.957784,40.765530,-73.951640,40.773959,1,20:46:20,1,False,0,0,0,1.070590
54125941,14.1,-73.970505,40.752325,-73.960537,40.797342,1,22:04:24,5,True,0,0,0,5.075548
54125942,28.9,-73.980901,40.764629,-73.870605,40.773963,1,05:57:51,2,False,0,0,0,9.346157
54125943,7.5,-73.969722,40.797668,-73.970885,40.783313,1,11:33:00,4,True,0,0,0,1.599203

In [ ]:
# Splitting Dataset into train and test (20% TEST, 80% TRAIN) 
X_train, X_test, y_train, y_test = train_test_split(updated, labels, test_size = 0.2)

### Normalising the values

In [ ]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
sc_y = StandardScaler()
X = sc_X.fit_transform(checkpoint5)
y = sc_y.fit_transform(X)