## SVM Model

In [54]:
print("Importing Libraries...")
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pickle
import time
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
import math
from sklearn.metrics import r2_score
print("Successfully imported!")

Importing Libraries...
Successfully imported!

In [55]:
print("Reading Datafile...")
checkpoint5 = pd.read_csv('checkpoint-5.csv', nrows=100000)
print("Success!")

Reading Datafile...
Success!

In [56]:
checkpoint5.head(20)

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,time,day,weekend,holiday,peak_hour,hotspot,dist
0,4.5,-73.844311,40.721319,-73.841610,40.712278,1,17:26:21,0,False,0,1,0,1.030764
1,16.9,-74.016048,40.711303,-73.979268,40.782004,1,16:52:16,1,False,0,1,0,8.450134
2,5.7,-73.982738,40.761270,-73.991242,40.750562,2,00:35:00,3,False,0,0,1,1.389525
3,7.7,-73.987130,40.733143,-73.991567,40.758092,1,04:30:42,5,True,0,0,1,2.799270
4,5.3,-73.968095,40.768008,-73.956655,40.783762,1,07:51:00,1,False,0,1,0,1.999157
5,12.1,-74.000964,40.731630,-73.972892,40.758233,1,09:50:45,3,False,0,0,0,3.787239
6,7.5,-73.980002,40.751662,-73.973802,40.764842,1,20:35:00,1,False,0,0,0,1.555807
7,16.5,-73.951300,40.774138,-73.990095,40.751048,1,17:22:00,2,False,0,1,0,4.155444
8,9.0,-74.006462,40.726713,-73.993078,40.731628,1,13:10:00,0,False,0,0,1,1.253232
9,8.9,-73.980658,40.733873,-73.991540,40.758138,2,01:11:00,2,False,0,0,0,2.849627
10,5.3,-73.996335,40.737142,-73.980721,40.733559,1,07:30:50,6,True,0,0,0,1.374577
11,4.1,-73.991601,40.744712,-73.983081,40.744682,2,01:04:03,4,True,0,0,0,0.717767
12,7.0,-74.005360,40.728867,-74.008913,40.710907,1,19:54:00,1,False,0,0,0,2.019384
13,7.7,-74.001821,40.737547,-73.998060,40.722788,2,17:11:05,1,False,0,1,0,1.671445
14,12.5,-73.986430,40.760465,-73.988990,40.737075,1,07:22:00,2,False,0,1,1,2.609774
15,5.3,-73.981060,40.737690,-73.994177,40.728412,1,16:08:00,2,False,0,1,0,1.511904
16,5.3,-73.969505,40.784843,-73.958732,40.783357,1,14:52:00,2,False,0,0,0,0.921952
17,4.0,-73.979815,40.751902,-73.979446,40.755481,1,20:36:22,5,True,0,0,0,0.399179
18,10.5,-73.985382,40.747858,-73.978377,40.762070,1,13:18:00,1,False,0,0,0,1.686861
19,11.5,-73.957954,40.779252,-73.961250,40.758787,1,12:15:46,1,False,0,0,0,2.292470

In [57]:
print("Obtaining label...")
cols = 'fare_amount'
label = checkpoint5[[cols]]
label
print("Obtained labels!")

Obtaining label...
Obtained labels!

In [58]:
# del checkpoint5['dist']
del checkpoint5['time']
del checkpoint5['fare_amount']
del checkpoint5['pickup_longitude']
del checkpoint5['pickup_latitude']
del checkpoint5['dropoff_longitude']
del checkpoint5['dropoff_latitude']

In [59]:
checkpoint5.head(20)

    passenger_count  day  weekend  holiday  peak_hour  hotspot      dist
0                 1    0    False        0          1        0  1.030764
1                 1    1    False        0          1        0  8.450134
2                 2    3    False        0          0        1  1.389525
3                 1    5     True        0          0        1  2.799270
4                 1    1    False        0          1        0  1.999157
5                 1    3    False        0          0        0  3.787239
6                 1    1    False        0          0        0  1.555807
7                 1    2    False        0          1        0  4.155444
8                 1    0    False        0          0        1  1.253232
9                 2    2    False        0          0        0  2.849627
10                1    6     True        0          0        0  1.374577
11                2    4     True        0          0        0  0.717767
12                1    1    False        0          0        0  2.019384
13                2    1    False        0          1        0  1.671445
14                1    2    False        0          1        1  2.609774
15                1    2    False        0          1        0  1.511904
16                1    2    False        0          0        0  0.921952
17                1    5     True        0          0        0  0.399179
18                1    1    False        0          0        0  1.686861
19                1    1    False        0          0        0  2.292470

In [60]:
print("Dropped columns!")

Dropped columns!

In [61]:
# Splitting Dataset into train and test (20% TEST, 80% TRAIN) 
print('Splitting Dataset...')
X_train, X_test, y_train, y_test = train_test_split(checkpoint5, label, test_size = 0.2)
print("Dataset splitted!")

Splitting Dataset...
Dataset splitted!

### Normalising the values

In [62]:
X_sc = StandardScaler()
y_sc = StandardScaler()

In [63]:
X_train = X_sc.fit_transform(X_train)
y_train = y_sc.fit_transform(y_train)

In [ ]:
print('Fitting the model...')
regressor = SVR(kernel = 'rbf')
t0 = time.time()
regressor.fit(X_train, y_train.ravel())
t1 = time.time()
print('Succeeded in fitting model!')

Fitting the model...

In [ ]:
print("Saving model...")

with open('WithDist_SVM/Dist_SVM_Experiment_100000.pkl', 'wb') as f:

   pickle.dump(regressor, f)

print("Saved model!")

In [ ]:
print('Predicting...')
y_pred = regressor.predict(X_sc.transform(X_test))
t2 = time.time()
y_pred = y_sc.inverse_transform(y_pred.reshape(-1, 1))
print('Predicted all!')
print(y_pred)

In [ ]:
y_test = y_test.to_numpy()

In [ ]:
y_test = y_test.flatten()
y_pred = y_pred.flatten()
y_test_series = pd.Series(y_test)
y_pred_series = pd.Series(y_pred)
df = pd.DataFrame({'Predicted value': y_pred, 'Real Value': y_test})
df
df.to_csv('WithDist_SVM/Dist_predictions_SVR100000.csv',index=False )

In [ ]:
time_train = t1-t0
time_predict = t2-t1

#Get Report
print("Score for classifier:", r2_score(y_test,y_pred))
print ("Time taken to train:", time_train)
print("Time taken to predict",time_predict)
print("Mean square error is -> ",mean_squared_error(y_test, y_pred))
print("Root Mean square error is -> ",math.sqrt(mean_squared_error(y_test, y_pred)))
print("Mean absolute error is -> ",mean_absolute_error(y_test, y_pred))

In [ ]:
# with open('SVM_Experiment1.pkl', 'rb') as f:

#    regressor = pickle.load(f)