# XGBOOST

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
import xgboost as xgb

In [ ]:
checkpoint5_traffic = pd.read_csv('checkpoint5_traffic.csv')
checkpoint5_traffic

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,time,day,weekend,holiday,peak_hour,hotspot,dist,fare_amount,traffic_density
0,-73.844311,40.721319,-73.841610,40.712278,1,17:26:21,0,0,0,1,0,1.030764,4.5,0.383333
1,-74.016048,40.711303,-73.979268,40.782004,1,16:52:16,1,0,0,1,0,8.450134,16.9,0.383333
2,-73.982738,40.761270,-73.991242,40.750562,2,00:35:00,3,0,0,0,1,1.389525,5.7,0.383333
3,-73.987130,40.733143,-73.991567,40.758092,1,04:30:42,5,1,0,0,1,2.799270,7.7,0.700000
4,-73.968095,40.768008,-73.956655,40.783762,1,07:51:00,1,0,0,1,0,1.999157,5.3,0.383333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54125939,-74.005272,40.740027,-73.963280,40.762555,1,03:28:00,5,1,0,0,0,4.334397,14.0,0.400000
54125940,-73.957784,40.765530,-73.951640,40.773959,1,20:46:20,1,0,0,0,0,1.070590,4.2,0.083333
54125941,-73.970505,40.752325,-73.960537,40.797342,1,22:04:24,5,1,0,0,0,5.075548,14.1,0.400000
54125942,-73.980901,40.764629,-73.870605,40.773963,1,05:57:51,2,0,0,0,0,9.346157,28.9,0.083333
54125943,-73.969722,40.797668,-73.970885,40.783313,1,11:33:00,4,1,0,0,0,1.599203,7.5,0.400000

In [ ]:
labels = checkpoint5_traffic[['fare_amount']]
labels

          fare_amount
0                 4.5
1                16.9
2                 5.7
3                 7.7
4                 5.3
...               ...
54125939         14.0
54125940          4.2
54125941         14.1
54125942         28.9
54125943          7.5

[54125944 rows x 1 columns]

In [ ]:
del checkpoint5_traffic['fare_amount']
checkpoint5_traffic

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,time,day,weekend,holiday,peak_hour,hotspot,dist,traffic_density
0,-73.844311,40.721319,-73.841610,40.712278,1,17:26:21,0,0,0,1,0,1.030764,0.383333
1,-74.016048,40.711303,-73.979268,40.782004,1,16:52:16,1,0,0,1,0,8.450134,0.383333
2,-73.982738,40.761270,-73.991242,40.750562,2,00:35:00,3,0,0,0,1,1.389525,0.383333
3,-73.987130,40.733143,-73.991567,40.758092,1,04:30:42,5,1,0,0,1,2.799270,0.700000
4,-73.968095,40.768008,-73.956655,40.783762,1,07:51:00,1,0,0,1,0,1.999157,0.383333
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54125939,-74.005272,40.740027,-73.963280,40.762555,1,03:28:00,5,1,0,0,0,4.334397,0.400000
54125940,-73.957784,40.765530,-73.951640,40.773959,1,20:46:20,1,0,0,0,0,1.070590,0.083333
54125941,-73.970505,40.752325,-73.960537,40.797342,1,22:04:24,5,1,0,0,0,5.075548,0.400000
54125942,-73.980901,40.764629,-73.870605,40.773963,1,05:57:51,2,0,0,0,0,9.346157,0.083333
54125943,-73.969722,40.797668,-73.970885,40.783313,1,11:33:00,4,1,0,0,0,1.599203,0.400000

In [ ]:
del checkpoint5_traffic['time']
checkpoint5_traffic

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,day,weekend,holiday,peak_hour,hotspot,dist,traffic_density
0,-73.844311,40.721319,-73.841610,40.712278,1,0,0,0,1,0,1.030764,0.383333
1,-74.016048,40.711303,-73.979268,40.782004,1,1,0,0,1,0,8.450134,0.383333
2,-73.982738,40.761270,-73.991242,40.750562,2,3,0,0,0,1,1.389525,0.383333
3,-73.987130,40.733143,-73.991567,40.758092,1,5,1,0,0,1,2.799270,0.700000
4,-73.968095,40.768008,-73.956655,40.783762,1,1,0,0,1,0,1.999157,0.383333
...,...,...,...,...,...,...,...,...,...,...,...,...
54125939,-74.005272,40.740027,-73.963280,40.762555,1,5,1,0,0,0,4.334397,0.400000
54125940,-73.957784,40.765530,-73.951640,40.773959,1,1,0,0,0,0,1.070590,0.083333
54125941,-73.970505,40.752325,-73.960537,40.797342,1,5,1,0,0,0,5.075548,0.400000
54125942,-73.980901,40.764629,-73.870605,40.773963,1,2,0,0,0,0,9.346157,0.083333
54125943,-73.969722,40.797668,-73.970885,40.783313,1,4,1,0,0,0,1.599203,0.400000

In [ ]:
params = {
    "max_depth": 7,
    "subsample": 0.9,
    "eta": 0.03,
    "colsample_bytree": 0.9,
    "random_state": 2666,
    "objective": "reg:linear",
    "eval_metric": "rmse",
    "silent": 1
}

In [ ]:
print("splitting...")
#splitting data into train test 
x_train, x_test, y_train, y_test = train_test_split(checkpoint5_traffic, labels, test_size=0.2, random_state=42)

splitting...

In [ ]:
def XGBmodel(x_train, x_test, y_train, y_test, params):
    matrix_train = xgb.DMatrix(x_train, label=y_train)
    matrix_test = xgb.DMatrix(x_test, label=y_test)
    
    model = xgb.train(params=params,
                      dtrain=matrix_train,num_boost_round=5000, 
                      early_stopping_rounds=10,evals=[(matrix_test,'test')])
    return model

#start_time = time.time()
model = XGBmodel(x_train, x_test, y_train, y_test, params)

model.save_model("xgboost_traffic.json")
model.save_model("xgboost_traffic.txt")

[00:29:35] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.
[00:29:35] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/learner.cc:627:
Parameters: { "silent" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.


[0]	test-rmse:14.16854
[1]	test-rmse:13.78859
[2]	test-rmse:13.42138
[3]	test-rmse:13.06628
[4]	test-rmse:12.72300
[5]	test-rmse:12.39143
[6]	test-rmse:12.07148
[7]	test-rmse:11.76212
[8]	test-rmse:11.46536
[9]	test-rmse:11.17689
[10]	test-rmse:10.89834
[11]	test-rmse:10.62942
[12]	test-rmse:10.37041
[13]	test-rmse:10.12058
[14]	test-rmse:9.87943
[15]	test-rmse:9.64676
[16]	test-rmse:9.42266
[17]	test-rmse:9.21614
[18]	test-rmse:9.00783
[19]	test-rmse:8.80764
[20]	test-rmse:8.63881
[21]	test-rmse:8.45230
[22]	test-rmse:8.27304
[23]	test-rmse:8.10022
[24]	test-rmse:7.94159
[25]	test-rmse:7.78193
[26]	test-rmse:7.62835
[27]	test-rmse:7.48156
[28]	test-rmse:7.34632
[29]	test-rmse:7.22514
[30]	test-rmse:7.09300
[31]	test-rmse:6.97406
[32]	test-rmse:6.85241
[33]	test-rmse:6.75053
[34]	test-rmse:6.63830
[35]	test-rmse:6.53170
[36]	test-rmse:6.42990
[37]	test-rmse:6.33201
[38]	test-rmse:6.24972
[39]	test-rmse:6.15974
[40]	test-rmse:6.07406
[41]	test-rmse:5.99139
[42]	test-rmse:5.91335
[43]	test-rmse:5.84200
[44]	test-rmse:5.77091
[45]	test-rmse:5.70262
[46]	test-rmse:5.63741
[47]	test-rmse:5.57552
[48]	test-rmse:5.51645
[49]	test-rmse:5.46053
[50]	test-rmse:5.40705
[51]	test-rmse:5.35808
[52]	test-rmse:5.31624
[53]	test-rmse:5.27270
[54]	test-rmse:5.22860
[55]	test-rmse:5.18929
[56]	test-rmse:5.15445
[57]	test-rmse:5.11593
[58]	test-rmse:5.08116
[59]	test-rmse:5.04656
[60]	test-rmse:5.01365
[61]	test-rmse:4.98272
[62]	test-rmse:4.95274
[63]	test-rmse:4.92539
[64]	test-rmse:4.89887
[65]	test-rmse:4.87306
[66]	test-rmse:4.84942
[67]	test-rmse:4.82698
[68]	test-rmse:4.80486
[69]	test-rmse:4.78488
[70]	test-rmse:4.76579
[71]	test-rmse:4.74692
[72]	test-rmse:4.72961
[73]	test-rmse:4.71258
[74]	test-rmse:4.69659
[75]	test-rmse:4.68206
[76]	test-rmse:4.66923
[77]	test-rmse:4.65546
[78]	test-rmse:4.64283
[79]	test-rmse:4.63034
[80]	test-rmse:4.61861
[81]	test-rmse:4.60745
[82]	test-rmse:4.59706
[83]	test-rmse:4.58715
[84]	test-rmse:4.57782
[85]	test-rmse:4.56887
[86]	test-rmse:4.56069
[87]	test-rmse:4.55263
[88]	test-rmse:4.54529
[89]	test-rmse:4.53781
[90]	test-rmse:4.53091
[91]	test-rmse:4.52436
[92]	test-rmse:4.51822
[93]	test-rmse:4.51295
[94]	test-rmse:4.50738
[95]	test-rmse:4.50164
[96]	test-rmse:4.49666
[97]	test-rmse:4.49147
[98]	test-rmse:4.48619
[99]	test-rmse:4.48179
[100]	test-rmse:4.47768
[101]	test-rmse:4.47403
[102]	test-rmse:4.46998
[103]	test-rmse:4.46609
[104]	test-rmse:4.46247
[105]	test-rmse:4.46058
[106]	test-rmse:4.45767
[107]	test-rmse:4.45452
[108]	test-rmse:4.45174
[109]	test-rmse:4.44884
[110]	test-rmse:4.44658
[111]	test-rmse:4.44424
[112]	test-rmse:4.44252
[113]	test-rmse:4.44025
[114]	test-rmse:4.43772
[115]	test-rmse:4.43585
[116]	test-rmse:4.43367
[117]	test-rmse:4.43150
[118]	test-rmse:4.42905
[119]	test-rmse:4.42702
[120]	test-rmse:4.42524
[121]	test-rmse:4.43201
[122]	test-rmse:4.43046
[123]	test-rmse:4.42853
[124]	test-rmse:4.42658
[125]	test-rmse:4.45577
[126]	test-rmse:4.45649
[127]	test-rmse:4.45490
[128]	test-rmse:4.45739
[129]	test-rmse:4.45515

https://www.kaggle.com/code/marinovik/xgboost-new-york-taxi-fares-prediction/notebook